{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Events</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Dur</th>
                <th>Channel</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="{{ event.color }}">
                <td>{{ event.id }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.alarm_time }}</td>
                <td>{{ event.duration if event.duration is not none else '' }}</td>
                <td>{{ event.channel }}</td>
                <td>{{ event.description if event.description else '' }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_event', event_id=event.id) }}">
                        <button type="submit" class="btn btn-danger btn-sm">Del</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_event') }}" class="btn btn-primary">Add new event</a>

{% endblock %}
